.card-container {
    background: #fff;
    border: 3px outset;
    border-radius: 2px;
    height: 150px;
    width: 100px;
    box-shadow: 4px greenyellow;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .card-container > .img-container {
    height: 100%;
    text-align: center;
    background:black;
  }
  .card-container> .img-container > img {
    width: 50%
  }
  

  .card > .remove:hover {
    color: #d50000;
  }
  
 .card > .span {
    height: 100px;
    width: 200px;
  }