.header {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'rocketmanregular';
    width: 100%;
    margin: 0px;
    padding: 0%;
    height:50px;
    text-align: center;
    background-image:url(background3.png);
    color: antiquewhite;
    margin:0;
}